{% extends 'admin_base.html.twig' %}


{% block content %}
    <div class="container-fluid">
        <h1>Administration</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>Edit configuration</li>
                <li>Edit content</li>
                <li>Manage profile</li>
                <li>Manage users</li>
            </ul>
        </div>
    </div>
{% endblock %}

